includes:
    - config/phpstan-rules.neon

parameters:
    level: 8

    paths:
        - bin
        - src
        - tests

    ignoreErrors:
        - '#Public constant "TomasVotruba\\Handyman\\(.*?)::ERROR_MESSAGE" is never used#'
        - '#PHPStan\\Testing\\RuleTestCase but does not specify its types#'

        # overly complex details
        - '#return type with generic interface PHPStan\\Rules\\Rule does not specify its types: TNodeType#'
        - '#Method (.*?)::testRule\(\) has parameter \$expectedErrorsWithLines with no value type specified in iterable type array#'

    excludePaths:
        # part of tests
        - */Source/*
        - */Fixture/*