parameters:
    level: 8
    errorFormat: symplify

    paths:
        - bin
        - src

    ignoreErrors:
        # mess
        - '#Parameter \#2 \$replace of function str_replace expects array<string>\|string, list<float\|int\|string\|null> given#'

    excludePaths:
        - */Source/*
        - */Fixture/*