# rules from this package
services:
    - TomasVotruba\Handyman\PHPStan\DoctrineEntityDocumentAnalyser

rules:
    # doctrine
    - TomasVotruba\Handyman\PHPStan\Rule\NoGetRepositoryOutsideServiceRule
    - TomasVotruba\Handyman\PHPStan\Rule\NoRepositoryCallInDataFixtureRule

    # mocks
    - TomasVotruba\Handyman\PHPStan\Rule\NoEntityMockingRule
    - TomasVotruba\Handyman\PHPStan\Rule\NoMockOnlyTestRule

    # phpunit
    - TomasVotruba\Handyman\PHPStan\Rule\PublicStaticDataProviderRule

    # symfony
    - TomasVotruba\Handyman\PHPStan\Rule\NoRequiredOutsideClassRule
